### JetBrains
/.idea/*

### Laravel template
vendor/
packages/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 5 & Lumen specific
/public/storage
/public/hot
storage/*.key
.env.*.php
.env.php
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json

